<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="Tabla de Posiciones de la Primera Division del Futbol Argentino, Consulta la Posicion de tu Equipo en el Torneo de Primera Division 2022 Gratis">
  	<meta name="keywords" content="Futbol, Primera Division, Argentina">
  	<meta name="author" content="Alejo Fernandez Cocaliadis">
	<link rel"canonical" href="https://challenge-mustangcloud.herokuapp.com/">
	<title>Tabla Primera Division Futbol Argentino</title>
	<link rel="StyleSheet" href="/css/styles.css" type="text/css">
</head>
	<body>
		<h1>Tabla de Primera Division del Futbol Argentino</h1>
		<div class="padre">
		<table class="default">
			<tr>
				<th>Pos</th>
				<th></th>
				<th>Equipo</th>
				<th>PJ</th>
				<th>G</th>
				<th>E</th>
				<th>P</th>
				<th class="desaparecible">GF</th>
				<th class="desaparecible">GC</th>
				<th class="desaparecible">DG</th>
				<th>Pts</th>
			</tr>
		{{#each equipos}}
				<tr class="{{obtenerFondo this ../equipos.length}}">
					<td>{{posicion}}</td>
					<td><img src="{{escudo}}"></td>
					<td><h2>{{nombre}}</h2></td>
					<td>{{partidos_jugados}}</td>
					<td>{{ganados}}</td>
					<td>{{perdidos}}</td>
					<td>{{empatados}}</td>
					<td class="desaparecible">{{goles_favor}}</td>
					<td class="desaparecible">{{goles_contra}}</td>
					<td class="desaparecible">{{diferencia_goles}}</td>
					<td>{{puntos}}</td>
				</tr>
				<br>
		{{/each}}
		</table>
		</div>
	</body>
</html>
