<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="Tabla de Posiciones de la Primera Division del Futbol Argentino, Consulta la Posicion de tu Equipo en el Torneo de Primera Division 2022 Gratis">
  	<meta name="keywords" content="Futbol, Primera Division, Argentina">
  	<meta name="author" content="Alejo Fernandez Cocaliadis">
	<link rel"canonical" href="https://challenge-mustangcloud.herokuapp.com/">
	<title>Tabla Primera Division Futbol Argentino</title>
	<link rel="StyleSheet" href="/css/styles.css" type="text/css">
</head>
	<body>
		<div class="padre">
		<table class="default">
			<tr>
				<th><h1>Pos</h1></th>
				<th></th>
				<th><h1>Equipo</h1></th>
				<th><h1>PJ</h1></th>
				<th><h1>G</h1></th>
				<th><h1>E</h1></th>
				<th><h1>P</h1></th>
				<th class="desaparecible"><h1>GF</h1></th>
				<th class="desaparecible"><h1>GC</h1></th>
				<th class="desaparecible"><h1>DG</h1></th>
				<th><h1>Pts</h1></th>
			</tr>
		{{#each equipos}}
				<tr class="{{obtenerFondo this}}">
					<td>{{posicion}}</td>
					<td><img src="{{escudo}}"></td>
					<td>{{nombre}}</td>
					<td>{{partidos_jugados}}</td>
					<td>{{ganados}}</td>
					<td>{{perdidos}}</td>
					<td>{{empatados}}</td>
					<td class="desaparecible">{{goles_favor}}</td>
					<td class="desaparecible">{{goles_contra}}</td>
					<td class="desaparecible">{{diferencia_goles}}</td>
					<td>{{puntos}}</td>
				</tr>
				<br>
		{{/each}}
		</table>
		</div>
	</body>
</html>
